* {
    font-family: 'Roboto', sans-serif;
}

.webPage-container {

}

#login-and-register-webPage-container {
    background: #3A0090;
}

/*CSS FOR DIFFERENT FRAGMENTS - START*/
/*FRAGMENT - "header" - START*/
#header {
    width: 100%;
    background: white;
}

#header-links-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#header-links-container a {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: bold;
}

#header-links-container a:hover {
    background-color: black;
    color: white;
}

/*FRAGMENT - "header" - END*/


/*FRAGMENT - "footer" - START*/
#webPage-footer {
    min-height: 10vh;
    background: rgb(93, 2, 112);
    background: linear-gradient(360deg, rgba(93, 2, 112, 1) 0%, rgba(201, 65, 174, 1) 100%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#white-webPage-footer {
    min-height: 10vh;
    background: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webPage-footer p {
translateY()
}

/*FRAGMENT - "footer" - END*/


/*CSS FOR DIFFERENT FRAGMENTS - START*/


#main-content-container {
    min-height: 100vh;
}

#main-register-and-loginpage-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(
            farthest-side at bottom left,
            #AF00C2,
            transparent
    ),
    radial-gradient(
            farthest-corner at top right,
            #900056,
            transparent
    ),
    radial-gradient(
            #C24700,
            transparent
    );
    padding-top: 30px;
    padding-bottom: 30px;
}

#register-and-login-form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 30vw;
    min-height: 50vh;
    background-color: white;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#register-and-login-form-container form label {
    font-weight: bold;
    font-size: 20px;
}

#register-and-login-form-container form input {
    font-size: 20px;
    padding: 10px 10px;
}

#register-and-login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-and-login-general-input {
    border-radius: 100px;
    border: none;
    padding-left: 20px;
    border: 1px solid black;
}

.register-and-login-general-button {
    height: 5vh;
    width: 6vw;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.register-and-login-general-button:hover {
    background-color: black;
    color: white;
}



.error {
    color: red;
}


#search-bar-and-welcome-message-container {
    min-height: 30vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /*background-image: url("https://images.unsplash.com/photo-1581472723648-909f4851d4ae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    /*background-image: url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    /*background-image: url("https://images.unsplash.com/photo-1629757509637-7c99379d6d26?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#welcome-message-container {
    max-width: 80%;
    min-height: 80%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
    backdrop-filter: blur(6px);
}

#welcome-message-container p {
    line-height: 35px;
    text-align: center;
}

#search-field {
    width: 30vw;
    height: 5vh;
    border-radius: 100px;
    border: none;
    padding-left: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    margin-right: 20px;
    font-size: 15px;
}

#search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button {
    height: 5vh;
    width: 6vw;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

#search-button:hover {
    background-color: black;
    color: white;
}

#forumContentContainer-container {
    min-height: 70vh;
    background-color: white;
    padding-bottom: 5vh;
}

#forumTotalUsersTotalPosts-container {
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#postIconPlusPostCount-container {
    margin-right: 100px;
}



#postIconPlusPostCount-container,
#usersIconPlusTotalRegisteredUsers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 50px;
}
.topTen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.topTen{
    font-size: 50px;
    font-weight: bold;
}

.topTen-posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}


.posts-preview{
    min-width: 80%;
    max-width: 80%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.posts-preview:hover{
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.post-title-container{
    padding-bottom: 20px;
}

.post-title-container a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}




/*++++++++++++++++++++++++++++++++++*/

#edit_square_icon_id,
#group_icon_id,
#totalAmountOfRegisteredUSers,
#totalAmountOfPosts {
    color: white;
    font-size: 50px;
}

#totalAmountOfRegisteredUSers,
#totalAmountOfPosts {
    font-size: 55px;
    font-weight: bold;
}

#forumHeader-container {
    width: 80vw;
    margin: 7vh auto auto;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 45px;
    font-weight: bold;
    /*border: 1px solid black;*/

}

#forumContent-container {
    width: 80vw;
    margin: auto auto;
}

.topicContent-container {
    /*border: 1px solid black;*/
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px 20px 20px 0px;
    margin-bottom: 20px;
    display: flex;
}

.topicContent-container:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.verticalColoredLine {
    width: 13px;
    margin-right: 20px;
    background: rgb(137, 26, 148);
    background: linear-gradient(360deg, rgba(137, 26, 148, 1) 0%, rgba(255, 146, 119, 1) 100%);
    /*background: rgb(5,55,129);
    background: linear-gradient(360deg, rgba(5,55,129,1) 0%, rgba(38,192,232,1) 100%);*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.topic {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.userName, .creationDate, .likesCount, .tagName {
    font-size: 15px;
    font-weight: 500;
}

.userNameCreationDateLikesTags-container {
    display: flex;
}

.userPlusCreationDate-container,
.likesPlusTag-container {
    display: flex;
    text-align: left;
    margin-right: 10vw;
}

.userIconPlusUsername-container,
.calendarIconPlusDate-container,
.likesIconPlusLikes-container,
.TagIconPlusTag-container {
    display: flex;
    padding-right: 20px;
}






