<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>

    <!--Google Icons start-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <!--Google Icons end-->
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>

<header th:fragment="header" id="header">
    <div id="header-links-container">
            <a href="#" th:href="@{/}">
                   <span class="material-symbols-outlined">home</span>
                   <p>Home</p>
            </a>

        <a th:if="${isAuthenticated} AND !${isBlocked}"  href="#" th:href="@{/posts/new}">
            <span class="material-symbols-outlined">post_add</span>
            <p>Create new post</p>
        </a>

        <a th:if="${isAuthenticated}"  href="#" th:href="@{/posts}">
            <span class="material-symbols-outlined">search</span>
            <p>Browse posts</p>
        </a>

        <a th:if="${isAuthenticated} and ${isAdmin}"  href="#" th:href="@{/users/search}">
            <span class="material-symbols-outlined">group</span>
            <p>Users</p>
        </a>

        <a th:unless="${isAuthenticated}" href="#" th:href="@{/auth/login}" >
            <span class="material-symbols-outlined">login</span>
            <p>Login</p>
        </a>

        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}" >
            <span class="material-symbols-outlined">app_registration</span>
            <p>Register</p>
        </a>

        <a href="#" th:href="@{/about}" >
            <span class="material-symbols-outlined">info</span>
            <p>About</p>
        </a>

        <a href="#" th:if="${isAuthenticated}"  th:href="@{/users/{id}(id=${loggedUser.getUserId()})}">
            <span class="material-symbols-outlined">account_circle</span>
            <p th:text="${loggedUser.getUserName()}">Profile</p>
        </a>

        <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}" >
            <span class="material-symbols-outlined">logout</span>
            <p>Logout</p>
        </a>
    </div>
</header>


<footer th:fragment="gradient-footer" id="webPage-footer">
    <p>@Copyright PlamkataIliikataYulkata inc. 2024</p>
</footer>

<footer th:fragment="white-footer" id="white-webPage-footer">
    <p>@Copyright PlamkataIliikataYulkata inc. 2024</p>
</footer>






</body>
</html>