<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learn-SpringBoot | Home</title>
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

    <div class="webPage-container">

        <div th:replace="~{Fragments.html :: header}"></div>

        <div id="main-content-container">

            <div id="search-bar-and-welcome-message-container">
                <div id="welcome-message-container">
                    <p>
                        🚀 Welcome to our forum - Your Java Junction! 🚀
                        <br>
                        <br>
                        Hello Java enthusiasts! "Learn Springboot" is your go-to spot for all things Java—connect, learn, and share with like-minded coders. Explore Java fundamentals, get help, share projects, and stay updated on the latest in the Java world. Ready to code and connect? Join us at www.learn-springboot.com for a happy coding experience!
                    </p>
                </div>
            </div>

            <div  id="forumTotalUsersTotalPosts-container">
                <div id="postIconPlusPostCount-container">
                    <p><span class="material-symbols-outlined">edit_square</span></p>
                    <p th:text="${totalPostsCount}">Total Posts Counts</p>
                </div>
                <div id="usersIconPlusTotalRegisteredUsers-container">
                    <p><span class="material-symbols-outlined">person</span></p>
                    <p th:text="${totalUsersCount}">Total User Counts</p>
                </div>
            </div>

            <div  class="topTen-container">
                <p class="topTen" th:text="#{homepage.top10mostCommentedPosts}">Top ten most commented posts</p>
            </div>
            <!--Dynamically created top 10 most commented posts below:-->
            <div  class="topTen-posts-container" >
                <div class="posts-preview" th:each="post : ${mostCommentedPosts}">
                    <div class="verticalColoredLine"></div>
                    <div class="topicContent">
                        <div class="post-title-container">
                            <a href="#" th:href="@{/posts/{id}(id=${post.getPostId()})}" th:text="${post.title}">Title Content</a>
                        </div>
                        <div class="userNameCreationDateLikesTags-container">
                            <div class="userPlusCreationDate-container">
                                <div class="userIconPlusUsername-container">
                                    <span class="material-symbols-outlined">account_circle</span>
                                    <a class="userName" th:text="${post.createdBy.getUserName()}" th:href="@{/users/{id}(id=${post.getCreatedBy().getUserId()})}">Username</a>
                                </div>
                                <div class="calendarIconPlusDate-container">
                                    <span class="material-symbols-outlined" >calendar_month</span>
                                    <p class="creationDate" th:text="${post.getCreatedOn()}">24.01.31 07:00:00</p>
                                </div>
                                <div class="commentIconPlusCommentsCount-container">
                                    <span class="material-symbols-outlined" >comment</span>
                                    <p th:text="${post.getRelatedComments().size()}">10</p>
                                </div>
                            </div>


                            <div class="likesPlusTag-container">
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                    <p class="likesCount" th:text="${post.getLikes()}">123</p>
                                </div>
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                    <p class="likesCount" th:text="${post.getDislikes()}">123</p>
                                </div>
                                <div class="TagIconPlusTag-container">
                                    <span class="material-symbols-outlined">loyalty</span>
                                    <div class="tag-name-container">
                                        <p class="tagName" th:unless="${post.getTags().isEmpty()}" th:text="${'#'+post.getTags().toArray()[0]}">#SomeVeryLongWord</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div  class="line-separator"></div>


            <div  class="topTen-container">
                <p class="topTen" th:text="#{homepage.top10mostRecentlyCreatedPosts}">Top ten most recently created posts</p>
            </div>
            <!--Dynamically created top 10 most recently created posts below:-->
            <div  class="topTen-posts-container" >
                <div class="posts-preview" th:each="post : ${mostRecentPosts}">
                    <div class="verticalColoredLine"></div>
                    <div class="topicContent">
                        <div class="post-title-container">
                            <a href="" th:text="${post.title}">Title Content</a>
                        </div>
                        <div class="userNameCreationDateLikesTags-container">
                            <div class="userPlusCreationDate-container">
                                <div class="userIconPlusUsername-container">
                                    <span class="material-symbols-outlined">account_circle</span>
                                    <a class="userName" th:text="${post.createdBy.getUserName()}" th:href="@{/users/{id}(id=${post.getCreatedBy().getUserId()})}">Username</a>
                                </div>
                                <div class="calendarIconPlusDate-container">
                                    <span class="material-symbols-outlined" >calendar_month</span>
                                    <p class="creationDate" th:text="${post.getCreatedOn()}">24.01.31 07:00:00</p>
                                </div>
                                <div class="commentIconPlusCommentsCount-container">
                                    <span class="material-symbols-outlined" >comment</span>
                                    <p th:text="${post.getRelatedComments().size()}">10</p>
                                </div>
                            </div>


                            <div class="likesPlusTag-container">
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                    <p class="likesCount" th:text="${post.getLikes()}">123</p>
                                </div>
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                    <p class="likesCount" th:text="${post.getDislikes()}">123</p>
                                </div>
                                <div class="TagIconPlusTag-container">
                                    <span class="material-symbols-outlined">loyalty</span>
                                    <div class="tag-name-container">
                                        <p class="tagName" th:unless="${post.getTags().isEmpty()}" th:text="${'#'+post.getTags().toArray()[0]}">#SomeVeryLongWord</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div  class="line-separator"></div>


            <div  class="topTen-container">
                <p class="topTen" th:text="#{homepage.top10mostLikedPosts}">Top ten most recently created posts</p>
            </div>
            <!--Dynamically created top 10 most recently created posts below:-->
            <div  class="topTen-posts-container" >
                <div class="posts-preview" th:each="post : ${mostLikedPosts}">
                    <div class="verticalColoredLine"></div>
                    <div class="topicContent">
                        <div class="post-title-container">
                            <a href="" th:text="${post.title}">Title Content</a>
                        </div>
                        <div class="userNameCreationDateLikesTags-container">
                            <div class="userPlusCreationDate-container">
                                <div class="userIconPlusUsername-container">
                                    <span class="material-symbols-outlined">account_circle</span>
                                    <a class="userName" th:text="${post.createdBy.getUserName()}" th:href="@{/users/{id}(id=${post.getCreatedBy().getUserId()})}">Username</a>
                                </div>
                                <div class="calendarIconPlusDate-container">
                                    <span class="material-symbols-outlined" >calendar_month</span>
                                    <p class="creationDate" th:text="${post.getCreatedOn()}">24.01.31 07:00:00</p>
                                </div>
                                <div class="commentIconPlusCommentsCount-container">
                                    <span class="material-symbols-outlined" >comment</span>
                                    <p th:text="${post.getRelatedComments().size()}">10</p>
                                </div>
                            </div>


                            <div class="likesPlusTag-container">
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                    <p class="likesCount" th:text="${post.getLikes()}">123</p>
                                </div>
                                <div class="likesIconPlusLikes-container">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                    <p class="likesCount" th:text="${post.getDislikes()}">123</p>
                                </div>
                                <div class="TagIconPlusTag-container">
                                    <span class="material-symbols-outlined">loyalty</span>
                                    <div class="tag-name-container">
                                        <p class="tagName" th:unless="${post.getTags().isEmpty()}" th:text="${'#'+post.getTags().toArray()[0]}">#SomeVeryLongWord</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div th:replace="~{Fragments.html :: gradient-footer}"></div>
    </div>

</body>
</html>