<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>

<div class="webPage-container" id="login-and-register-webPage-container">

    <div th:replace="~{Fragments.html :: header}"></div>

    <div id="main-register-and-loginpage-content-container">

        <div id="register-and-login-form-container">
            <form action="" th:object="${login}" method="post" th:action="@{/auth/login}">
                <label th:text="#{loginpage.username}">Username</label>
                <br>
                <input class="register-and-login-general-input" type="text" placeholder="Username" th:field="*{username}">
                <br>
                <label class="error" th:errors="*{username}"> User error placeholder. </label>
                <br>
                <br>
                <label th:text="#{loginpage.password}">Password</label>
                <br>
                <input class="register-and-login-general-input" type="password" placeholder="Password" th:field="*{password}">
                <br>
                <label class="error" th:errors="*{password}"> Password error placeholder. </label>
                <br>
                <br>
                <input class="register-and-login-general-button" type="submit" th:value="Login" id="login-button" value="Login" >
            </form>
        </div>

    </div>

    <div th:replace="~{Fragments.html :: white-footer}"></div>


</div>
</body>
</html>