<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LearnJava | Post</title>
    <link href="../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>

<div class="webPage-container">
    <div th:replace="~{Fragments.html :: header}"></div>

    <div id="main-content-container">
        <div class="topTen-posts-container">
            <div class="posts-preview">
                <div class="verticalColoredLine"></div>
                <div class="topicContent">
                    <div class="post-title-container">
                        <p th:text="${post.title}">Title Content</p>
                    </div>
                    <div class="single-post-content-container">
                        <p th:text="${post.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
                            dolore eligendi eum impedit incidunt iusto nam nobis ratione repellat voluptates? Architecto
                            blanditiis deserunt eum harum minima, pariatur perspiciatis quo! Ab, ad amet animi cum
                            cupiditate dolor dolorum ea eligendi fuga fugiat harum hic labore laborum nam numquam
                            obcaecati quis reiciendis repellat rerum sequi similique sit sunt tempora ut vitae
                            voluptatem voluptates. Aliquid error esse expedita fuga hic illo laudantium nam, neque nihil
                            nulla obcaecati omnis placeat quo reiciendis rerum, sed soluta tempora tempore, tenetur
                            velit? Cumque esse, ex expedita ipsam magni nemo nesciunt nisi nulla omnis quaerat ratione
                            tempore unde?</p>
                    </div>
                    <div class="userNameCreationDateLikesTags-container">
                        <div class="userPlusCreationDate-container">
                            <div class="userIconPlusUsername-container">
                                <span class="material-symbols-outlined">account_circle</span>
                                <a class="userName" th:text="${post.createdBy.getUserName()}"
                                   th:href="@{/users/{id}(id=${post.getCreatedBy().getUserId()})}">Username</a>
                            </div>
                            <div class="calendarIconPlusDate-container">
                                <span class="material-symbols-outlined">calendar_month</span>
                                <p class="creationDate" th:text="${post.getCreatedOn()}">24.01.31 07:00:00</p>
                            </div>
                            <div class="commentIconPlusCommentsCount-container">
                                <span class="material-symbols-outlined">comment</span>
                                <p th:text="${post.getRelatedComments().size()}">10</p>
                            </div>
                        </div>


                        <div class="likesPlusTag-container">
                            <div class="likesIconPlusLikes-container">
                                <a class="like-dislike-link-buttons"
                                   th:if="${loggedInUser.getUserId() != post.createdBy.userId}"
                                   th:href="@{__${requestURI}__/like}">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                </a>
                                <span th:unless="${loggedInUser.getUserId() != post.createdBy.userId}"
                                      class="material-symbols-outlined">thumb_up</span>
                                <p class="likesCount" th:text="${post.getLikes()}">123</p>
                            </div>
                            <div class="likesIconPlusLikes-container">
                                <a class="like-dislike-link-buttons"
                                   th:if="${loggedInUser.getUserId() != post.createdBy.userId}"
                                   th:href="@{__${requestURI}__/dislike}">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                </a>
                                <span th:unless="${loggedInUser.getUserId() != post.createdBy.userId}"
                                      class="material-symbols-outlined">thumb_down</span>
                                <p class="likesCount" th:text="${post.getDislikes()}">123</p>
                            </div>

                        </div>
                    </div>

                    <div class="TagsInSinglePost-container">
                        <div class="TagIconPlusTag-container" th:each="tag : ${post.getTags()}"
                             th:unless="${post.getTags().isEmpty()}">
                            <span class="material-symbols-outlined">loyalty</span>
                            <div class="tag-name-container">
                                <p class="tagName"
                                   th:text="${'#'+ tag}">#SomeVeryLongWord</p>
                            </div>

                        </div>
                    </div>

                    <div class="edit-delete-reply-buttons-container">
                        <form th:if="${loggedInUser.getUserId() == post.getCreatedBy().getUserId()}" action="#"
                              th:action="@{__${requestURI}__/edit}" method="get">
                            <input class="single-user-page-button edit-button" type="submit" value="Edit">
                        </form>

                        <form th:if="${loggedInUser.getUserId() == post.getCreatedBy().getUserId()}" action="#"
                              th:action="@{__${requestURI}__/delete}" method="get">
                            <input class="single-user-page-button delete-button" type="submit" value="Delete">
                        </form>

                        <form action="#"
                              th:action="@{/posts/__${post.getPostId()}__/add-comment}"
                              method="get">
                            <input class="single-user-page-button add-comment-button" type="submit"
                                   value="Reply">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="single-post-view-topTen">
            <p class="">Answers:</p>
        </div>

        <div class="topTen-posts-container">
            <div th:each="comment: ${relatedComments}" class="posts-preview">
                <div class="verticalColoredLine-red-orange"></div>
                <div class="topicContent">
                    <div class="single-post-content-container">
                        <p th:text="${comment.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Debitis dolore eligendi eum impedit incidunt iusto nam nobis ratione repellat voluptates?
                            Architecto blanditiis deserunt eum harum minima, pariatur perspiciatis quo! Ab, ad amet
                            animi cum cupiditate dolor dolorum ea eligendi fuga fugiat harum hic labore laborum nam
                            numquam obcaecati quis reiciendis repellat rerum sequi similique sit sunt tempora ut vitae
                            voluptatem voluptates. Aliquid error esse expedita fuga hic illo laudantium nam, neque nihil
                            nulla obcaecati omnis placeat quo reiciendis rerum, sed soluta tempora tempore, tenetur
                            velit? Cumque esse, ex expedita ipsam magni nemo nesciunt nisi nulla omnis quaerat ratione
                            tempore unde?</p>
                    </div>
                    <div class="userNameCreationDateLikesTags-container">
                        <div class="userPlusCreationDate-container">
                            <div class="userIconPlusUsername-container">
                                <span class="material-symbols-outlined">account_circle</span>
                                <a class="userName" th:text="${comment.createdBy.getUserName()}"
                                   th:href="@{/users/{id}(id=${post.getCreatedBy().getUserId()})}">Username</a>
                            </div>
                            <div class="calendarIconPlusDate-container">
                                <span class="material-symbols-outlined">calendar_month</span>
                                <p class="creationDate" th:text="${comment.getCreatedOn()}">24.01.31 07:00:00</p>
                            </div>

                        </div>


                        <div class="likesPlusTag-container">
                            <div class="likesIconPlusLikes-container">
                                <a class="like-dislike-link-buttons"
                                   th:if="${loggedInUser.getUserId() != comment.createdBy.userId}"
                                   th:href="@{__${requestURI}__/comments/__${comment.getCommentId()}__/like}">
                                    <span class="material-symbols-outlined">thumb_up</span>
                                </a>
                                <span th:unless="${loggedInUser.getUserId() != comment.createdBy.userId}"
                                      class="material-symbols-outlined">thumb_up</span>
                                <p class="likesCount" th:text="${comment.getLikes()}">123</p>
                            </div>
                            <div class="likesIconPlusLikes-container">
                                <a class="like-dislike-link-buttons"
                                   th:if="${loggedInUser.getUserId() != comment.createdBy.userId}"
                                   th:href="@{__${requestURI}__/comments/__${comment.getCommentId()}__/dislike}">
                                    <span class="material-symbols-outlined">thumb_down</span>
                                </a>
                                <span th:unless="${loggedInUser.getUserId() != comment.createdBy.userId}"
                                      class="material-symbols-outlined">thumb_down</span>
                                <p class="likesCount" th:text="${comment.getDislikes()}">123</p>
                            </div>

                            <form th:if="${loggedInUser.getUserId() == comment.getCreatedBy().getUserId()} AND ${post.getRelatedComments().isEmpty()}"
                                  action="#"
                                  th:action="@{/posts/__${comment.getOriginalPost().getPostId()}__/comments/__${comment.getCommentId()}__/edit}"
                                  method="get">
                                <input class="single-user-page-button edit-button" type="submit" value="Edit">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{Fragments.html :: gradient-footer}"></div>
</div>

</body>
</html>