<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Fragments.html::head(#{administrative.changes})}"></div>
<body>
<div id="edit-user-webPage-container" class="webPage-container">
    <div th:replace="~{Fragments.html::header}"></div>
    <div id="edit-page-container">

        <div id="user-admin-changes-container">
            <div id="icon-plus-username-container">
                <p id="username" th:text="${userById.getUserName()}">Very long username</p>
            </div>
            <img id="user-picture-container"
                 th:src="${userById.avatar.avatar}">
            </br>
            </br>

            <div id="icon-plus-firstname-container">
                <span class="material-symbols-outlined">person</span>
                <p class="edit-user-inputFields" th:text="${userById.firstName}">
            </div>
            </br>
            <div id="icon-plus-lastname-container">
                <span class="material-symbols-outlined">person</span>
                <p class="edit-user-inputFields" th:text="${userById.lastName}">
            </div>
            </br>
            <div id="icon-plus-email-container">
                <span class="material-symbols-outlined">email</span>
                <p class="edit-user-inputFields" th:text="${userById.email}">
            </div>
            </br>
            <div id="user-current-roles-container" th:each="role : ${userById.getRoles()}">
                <span class="material-symbols-outlined">badge</span>
                <p th:text="${role.name}"></p>
                <a th:unless="${role.getRoleId() == 3}" href="#" th:href="@{/users/__${userById.getUserId()}__/administrative-changes/remove-role/__${role.getRoleId()}__}">
                    <span id="remove-role-from-user" class="material-symbols-outlined">remove</span>
                </a>
                <a th:if="${role.getRoleId() == 3}" href="#" >
                    <span id="remove-role-from-user-member" class="material-symbols-outlined">remove</span>
                </a>
            </div>

            <form id="add-role-to-user" action="#" th:action="@{/users/__${userById.getUserId()}__/administrative-changes/add-role}" th:object="${roleDto}"
                  method="post">
                <select id="add-role-to-user-select" th:field="${roleDto.dtoRoleId}">
                    <option th:each="role : ${allRoles}"
                    th:value="${role.roleId}"
                    th:text="${role.name}">
                        Admin
                    </option>
                </select>
                <!--<button id="user-add-role-button" type="submit" >
                    <span id="user-add-role-button-span" class="material-symbols-outlined">add</span>
                </button>-->
                <input class="single-user-page-button add-tag-button" type="submit" value="+">
            </form>


            <form id="user-admin-changes-form" action="#" th:object="${userMvcAdminChangesDto}" th:action="@{__${requestURI}__}" method="post">
                <fieldset class="user-administrative-changes-fieldset">
                    <legend>Block or unblock user:</legend>
                    <div>
                        <input type="radio" th:name="'false'" th:field="*{blocked}" th:value="false" th:text="#{user.blocked}" checked>
                        <br>
                        <input type="radio" th:name="'true'" th:field="*{blocked}" th:value="true" th:text="#{user.unblocked}">
                    </div>
                </fieldset>
                <br>
                <fieldset class="user-administrative-changes-fieldset">
                    <legend>Delete or activate user:</legend>
                    <div>
                        <input type="radio" th:name="'false'" th:field="*{deleted}" th:value="false" checked th:text="#{user.deleted}">
                        <br>
                        <input type="radio" th:name="'true'" th:field="*{deleted}" th:value="true" th:text="#{user.active}">
                    </div>
                </fieldset>
                <br>
                    <input class="register-and-login-general-button" type="submit" th:value="Save" id="login-button"
                           value="Save">
            </form>
        </div>
    </div>

    <div th:replace="~{Fragments.html::white-footer}"></div>
</div>

</body>
</html>