<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Fragments.html::head(#{administrative.changes})}"></div>
<body>
<div id="edit-user-webPage-container" class="webPage-container">
    <div th:replace="~{Fragments.html::header}"></div>
    <div id="edit-page-container">

        <div id="user-profile-information-container">
            <div id="icon-plus-username-container">
                <p id="username" th:text="${userById.getUserName()}">Very long username</p>
            </div>
            <img id="user-picture-container"
                 th:src="@{/images/user_profile_pictures/${userById.getAvatar().avatar}}">
            </br>
            </br>

            <div id="icon-plus-firstname-container">
                <span class="material-symbols-outlined">person</span>
                <p class="edit-user-inputFields" th:text="${userById.firstName}">
            </div>
            </br>
            <div id="icon-plus-lastname-container">
                <span class="material-symbols-outlined">person</span>
                <p class="edit-user-inputFields" th:text="${userById.lastName}">
            </div>
            </br>
            <div id="icon-plus-email-container">
                <span class="material-symbols-outlined">email</span>
                <p class="edit-user-inputFields" th:text="${userById.lastName}">
            </div>
            </br>


            <form id="add-role-to-user" action="#" th:action="@{__${requestURI}__/add-role}"
                  method="post">
                <select id="add-role-to-user-select" >
                    <option th:each="role : ${allRoles}"
                    th:value="${role.roleId}"
                    th:text="${role.name}">
                        Admin
                    </option>
                </select>
                <input class="single-user-page-button add-tag-button" type="submit" value="+">
            </form>


        <!--    <form id="add-tag-to-post" action="#" th:action="@{__${requestURI}__/add-tag}" th:object="${tagDto}"
                  method="post">
                <input id="add-tag-to-post-input" type="text" th:field="*{tag}"
                       placeholder="place your tag here">
                <input class="single-user-page-button add-tag-button" type="submit" value="+">
            </form>-->

        <!--    <select th:field="*{styleId}">
                <option th:each="style : ${styles}"
                        th:value="${style.styleId}"
                        th:text="${style.name}">
                    BeerStyleOne
                </option>
            </select>-->


            <form action="#" th:object="${userMvcAdminChangesDto}" th:action="@{__${requestURI}__}" method="post">
                <fieldset>
                    <legend>Set blocked or unblocked:</legend>
                    <div>
                        <label th:text="#{user.blocked}"></label>
                        <input type="radio" th:name="'false'" th:field="*{blocked}" th:value="false" checked>
                        <input type="radio" th:name="'true'" th:field="*{blocked}" th:value="true">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Set deleted or not:</legend>
                    <div>
                        <label th:text="#{user.deleted}"></label>
                        <input type="radio" th:name="'false'" th:field="*{deleted}" th:value="false" checked>
                        <input type="radio" th:name="'true'" th:field="*{deleted}" th:value="true">
                    </div>
                </fieldset>
                    <input class="register-and-login-general-button" type="submit" th:value="Save" id="login-button"
                           value="Save">
            </form>
        </div>
    </div>

    <div th:replace="~{Fragments.html::white-footer}"></div>
</div>

</body>
</html>